body {
  background-color: black;
}
.contenedor.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
  letter-spacing: 5px;
  word-spacing: 10px;
  background: linear-gradient(45deg, red, blue, yellow, pink, green, purple, orange, white);
  background-clip: text;
  color: transparent;
  animation: flotar 5s ease-in-out infinite, arcoiris 5s linear infinite;  
}

img {
  border: 3px solid red;
  border-radius: 50%;
  box-shadow: 0 0 50px indigo;
  animation: rotar 5s ease-in infinite;
}
@keyframes arcoiris {
from {filter: hue-rotate (0deg);
    }
    to { filter: hue-rotate(360deg);
    }
}

@keyframes flotar { 
  0%, 100% {
    transform: scale(0.85) translateY(0);
    
  }
  50% {
    transform: translateY(-75px) scale(1.15);
        
  }
}

@keyframes rotar {
  0%, 100% { transform: rotate(0deg);}
  25%, 75% { transform: rotate(180deg);}
  50% { transform: rotate(360deg);}
}